body, html {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top {
    background-image: url(https://boldman.vn/wwwroot/resources/img/news/12-2019/css-water-wave-background-animation-effects-wavy-background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    color: white;
    display: table;
}

.chunho {
    font-size: 16px;
    line-height: 26pt;
}

.to {
    font-size: 35px;
    font-weight: bold;
}

.top .nuttop {
    padding: 22px 33px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 60px;
    background: transparent;
    color: white;
    text-transform: uppercase;
}

.top .nuttop:hover {
    background: rgba(192, 188, 188, 0.5);
}

.chunho2{
    font-size: 18px;
    line-height: 26pt;
}
.top .noidung {
    vertical-align: middle;
    display: table-cell;
}

.text-center {
    text-align: center;
}

@media (max-width: 576px) {
    *{}

    .top {
        background: url(https://img.lovepik.com/photo/40005/2390.jpg_wh860.jpg);
    }

    .to {
        font-size: 25px;
    }
    .chunho {
        font-size: 12px;
        font-weight: 100;
        padding: 0 43px;
    }

    .chunho2 {
        font-size: 14px;
        font-weight: 100;
        padding: 0 43px;
        line-height: 20pt;;
    }

    .nuttop {
        font-size: 13px;
        padding: 9px 17px
    }
}